<!doctype html>
<html>
<head>
<title>Radio Player</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- include JQuery -->
<script src="/static/jquery-3.3.1.js"></script>

<!-- include JQuery UI -->
<link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
<!-- <script src="/static/jquery-ui-1.12.1/external/jquery/jquery.js"></script> -->
<script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<!-- include radio player functions -->
<script src="/scripts/radio_player.js"></script>

<!-- include radio player styles -->
<link rel="stylesheet" href="/static/style.css">

<style>
    .ss-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .ss-item {
        flex: 0 0 auto;
        display: block;
        padding-left: 20px;
        cursor: inherit;
        text-align: left;
        height: 100%;
    }

    div.bbc-home:hover {
        background: #303030;
    }
</style>

<script>
</script>
</head>


<body>
<!-- This section displays error messages (if any) -->
{% if error_messages|length > 0 %}
    <section id="error_messages" class="ui-state-error">
        <h3>Initialisation Errors</h3>
        <ul>
        {% for msg in error_messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    </section>
{% endif %}

<!-- This section holds the standby/live/on-demand selector, the national/regional/local selector and (for on demand) the station selection -->
<section id="radio_selector">
    <div id="container_main" class="ss-container">
        <div id="item_home_and_info" class="ss-item">
            <div class="bbc-home" onclick="goto_bbc_radio ()">
                <canvas id="BBCHomePage" width="90" height="55"></canvas>
                <script>draw_bbc_logo("BBCHomePage");</script>
            </div>
            <button id="dialog-link" onclick="open_info_dialog()">Program Info</button>
        </div>

        <div id="item_standby_live_ondemand" class="ss-item">
            <fieldset>
                <form action="">
                    <div class="alignLeft">
                        <input type="radio" name="State" value="PowerOff" id="PowerOff" checked="checked" onclick="change_state('standby')">
                        <label for="PowerOff">Power Off</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="State" value="Live" id="Live" onclick="change_state('live_radio')">
                        <label for="Live">Live Radio</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="State" value="On Demand" id="OnDemand" onclick="change_state('on_demand')">
                        <label for="OnDemand">On Demand</label>
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="item_national_regional_local" class="ss-item">
            <fieldset>
                <form action="">
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="National" id="National" checked="checked" onclick="change_zone('national')">
                        <label for="National">National</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="Regional" id="Regional" onclick="change_zone('regional')">
                        <label for="Regional">Regional</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="Local" id="Local" onclick="change_zone('local')">
                        <label for="Local">Local</label>
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="item_station_list" class="ss-item">
            <form action="">
                <select id="select_station_list">
                </select>
            </form>
        </div>

        <!-- The information dialog -->
        <div id="dialog_info" title="Radio Player Information" class="ui-helper-hidden">
            <p>
            <table>
            {% for name,msg in info_msgs.items() %}
            <tr>
                <td><b>{{ name }}:</b></td>
                <td>{{ msg }}</td>
            </tr>
            {% endfor %}
            </table>
            </p>
            <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">
                xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
    </div>
    <hr>
</section>

<!--- This section holds the station or schedule list -->
<section id="station_schedule_selector"></section>

<!-- This section holds the programme navigation and volume controls -->
<section id="play_bar"></section>

<!-- Load initial contents of page sections -->
<script>
change_state ('standby');
</script>

</body>
</html>
