<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/radio_player.js"></script>
<link rel="stylesheet" href="/static/style.css">

<title>Radio Player</title>

<style>

</style>

</head>

<body>
<!-- This section displays error messages (if any) -->
{% if error_messages|length > 0 %}
    <section id="error_messages" class="ui-state-error">
        <h3>Initialisation Errors</h3>
        <ul>
        {% for msg in error_messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    </section>
{% endif %}

<!-- This section holds the live/on-demand and station selection -->
<section id="radio_selector"></section>

<!--- This section holds the station or schedule list -->
<section id="station_schedule_selector"></section>

<!-- This section holds the programme navigation and volume controls -->
<section id="play_bar"></section>

<!-- Load initial contents of page sections -->
<!-- TODO: add success/failure handlers to the JQuery calls -->
<script>
$( "#radio_selector" ).load( "/component/radio_selector" );
$( "#station_schedule_selector" ).load( "/component/blank" );
$( "#play_bar" ).load( "/component/play_bar" );
</script>

</body>
</html>
