<html>
<head>
    <style>
        .ss-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .ss-item {
            flex: 0 0 auto;
            display: block;
            padding-left: 20px;
            cursor: inherit;
            text-align: left;
            height: 100%;
        }

        div.bbc-home:hover {
            background: #303030;
        }
    </style>

    <!-- include JQuery UI -->
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="/static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <script>
        /* global variables holding radio player state and zone*/
        var rp_state = 'standby';
        var rp_zone = 'national';

        /* copy station lists from server side */
        var national_stations = [];
        {% for station in national_stations %}
            var station = new Object ();
            station ['id'] =  "{{station['id']}}";
            station ['display_name'] =  "{{station['display_name']}}";
            national_stations.push (station);
        {% endfor %}
        var regional_stations = [];
        {% for station in regional_stations %}
            var station = new Object ();
            station ['id'] =  "{{station['id']}}";
            station ['display_name'] =  "{{station['display_name']}}";
            regional_stations.push (station);
        {% endfor %}
        var local_stations = [];
        {% for station in local_stations %}
            var station = new Object ();
            station ['id'] =  "{{station['id']}}";
            station ['display_name'] =  "{{station['display_name']}}";
            local_stations.push (station);
        {% endfor %}

        /* populate the station list drop down */
        populate_station_select (rp_zone);

        /* display the Information dialog */
        function openInfoDialog() {
            $( "#dialog_info" ).dialog({width: 600, height: 400});
        }

        /* link to the BBC radio website */
        function gotoBBCRadio() {
            window.open ("https://www.bbc.co.uk/radio", "_blank");
        }

        /* change radio player state */
        function changeState (state) {
            switch (state) {
                case 'standby':
                    play_stop();
                    break;
                case 'live_radio':
                    show_station_list (rp_zone);
                    break;
                case 'on_demand':
                    populate_station_select (rp_zone);
                    show_on_demand_schedule();
                    break;
            }

            /* store state so that it can be used in other parts of the page */
            rp_state = state;
        }

        /* change radio player 'zone' */
        function changeZone (zone) {
            switch (rp_state) {
                case 'standby':
                    break;
                case 'live_radio':
                    show_station_list(zone);
                    break;
                case 'on_demand':
                    populate_station_select (zone);
                    break;
            }

            /* store zone so that it can be used in other parts of the page */
            rp_zone = zone;
        }

        /* fill the select station list from one of the list of stations */
        function populate_station_select (zone) {
            /* which station list should we use? */
            switch (zone) {
                case 'national': stations = national_stations; break;
                case 'regional': stations = regional_stations; break;
                case 'local': stations = local_stations; break;
                default: stations = [];
            }

            /* empty the current contents of the select list */
            $("#select_station_list").empty();

            /* add the new list */
            for (i = 0; i < stations.length; i++) {
                station = stations[i];
                $('#select_station_list').append($('<option>', {value: station['id'], text: station['display_name']}));
            }
        }
    </script>
</head>

<body>
    <div id="container_main" class="ss-container">
        <div id="item_home_and_info" class="ss-item">
            <div class="bbc-home" onclick="gotoBBCRadio ()">
                <canvas id="BBCHomePage" width="90" height="55"></canvas>
                <script>draw_bbc_logo("BBCHomePage");</script>
            </div>
            <button id="dialog-link" onclick="openInfoDialog()">Program Info</button>
        </div>

        <div id="item_standby_live_ondemand" class="ss-item">
            <fieldset>
                <form action="">
                    <div class="alignLeft">
                        <input type="radio" name="State" value="PowerOff" id="PowerOff" checked="checked" onclick="changeState('standby')">
                        <label for="PowerOff">Power Off</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="State" value="Live" id="Live" onclick="changeState('live_radio')">
                        <label for="Live">Live Radio</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="State" value="On Demand" id="OnDemand" onclick="changeState('on_demand')">
                        <label for="OnDemand">On Demand</label>
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="item_national_regional_local" class="ss-item">
            <fieldset>
                <form action="">
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="National" id="National" checked="checked" onclick="changeZone('national')">
                        <label for="National">National</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="Regional" id="Regional" onclick="changeZone('regional')">
                        <label for="Regional">Regional</label>
                    </div>
                    <div class="alignLeft">
                        <input type="radio" name="Zone" value="Local" id="Local" onclick="changeZone('local')">
                        <label for="Local">Local</label>
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="item_station_list" class="ss-item">
            <form action="">
                <select id="select_station_list">
                </select>
            </form>
        </div>

        <!-- The information dialog -->
        <div id="dialog_info" title="Radio Player Information" class="ui-helper-hidden">
            <p>
            <table>
            {% for name,msg in info_msgs.items() %}
            <tr>
                <td><b>{{ name }}:</b></td>
                <td>{{ msg }}</td>
            </tr>
            {% endfor %}
            </table>
            </p>
        </div>
    </div>
    <hr>

</body>
</html>
